@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-width: 18rem;

    --background: 220 10% 94% /* #eeeff1 */;
    --foreground: 204 9% 11% /* #1a1d1f */;

    --card: 270 100% 99% /* #fdfbff */;
    --card-foreground: 210 7% 11% /* #1a1c1e */;

    --popover: 270 100% 99% /* #fdfbff */;
    --popover-foreground: 210 7% 11% /* #1a1c1e */;

    --primary: 212 100% 59% /* #2c8fff */;
    --primary-foreground: 0 0% 98% /* #fafafa */;

    --secondary: 5 100% 68% /* #ff695a */;
    --secondary-foreground: 0 0% 98% /* #fafafa */;

    --muted: 230 24% 90% /* #e0e2ec */;
    --muted-foreground: 218 8% 28% /* #43474e */;

    --accent: 255 15% 95% /* #f1f0f4 */;
    --accent-foreground: 225 4% 19% /* #2f3033 */;

    --destructive: 0 75% 42% /* #ba1a1a */;
    --destructive-foreground: 0 0% 98% /* #fafafa */;

    --border: 230 24% 90% /* #e0e2ec */;

    --input: 230 24% 90% /* #e0e2ec */;

    --ring: 220 100% 92% /* #d5e3ff */;

    --sidebar-background: 0 0% 98% /* #fafafa */;
    --section-background: 0 0% 98% /* #fafafa */;

    --radius: 0.5rem;
  }

  .dark {
    --background-dark: 225 7% 11% /* #1a1b1e */;
    --foreground-dark: 0 0% 98% /* #fafafa */;

    --card-dark: 270 100% 99% /* #fdfbff */;
    --card-foreground-dark: 210 7% 11% /* #1a1c1e */;

    --popover-dark: 270 100% 99% /* #fdfbff */;
    --popover-foreground-dark: 210 7% 11% /* #1a1c1e */;

    --primary-dark: 208 100% 35% /* #005eb3 */;
    --primary-foreground-dark: 0 0% 98% /* #fafafa */;

    --secondary-dark: 5 100% 68% /* #ff695a */;
    --secondary-foreground-dark: 0 0% 98% /* #fafafa */;

    --muted-dark: 230 24% 90% /* #e0e2ec */;
    --muted-foreground-dark: 218 8% 28% /* #43474e */;

    --accent-dark: 255 15% 95% /* #f1f0f4 */;
    --accent-foreground-dark: 225 4% 19% /* #2f3033 */;

    --destructive-dark: 0 75% 42% /* #ba1a1a */;
    --destructive-foreground-dark: 0 0% 98% /* #fafafa */;

    --border-dark: 230 24% 90% /* #e0e2ec */;
    --input-dark: 230 24% 90% /* #e0e2ec */;
    --ring-dark: 220 100% 92% /* #d5e3ff */;

    --item-foreground: 218 14% 63% /* #929cad */;
    --sidebar-background: 225 12% 13% /* #1d1f25 */;
    --section-background: 231 10% 14% /* #1f2026 */;

    --radius-dark: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}

@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 2s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
