@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sidebar-width: 18rem; /* 288px */
    --header-height: 4rem; /* 64px */

    --background: 0 0% 96.47%; /* #f6f6f6 */
    --foreground: 250 35.29% 13.33%; /* #1a162e */

    --card: 0 0% 100%; /* #fff */
    --card-foreground: 250 35.29% 13.33%; /* #1a162e */

    --popover: 0 0% 100%; /* #fff */
    --popover-foreground: 250 35.29% 13.33%; /* #1a162e */
    --popover-shadow: 0px 40px 90px 20px rgb(200 200 200 / 0.4);

    --primary: 212 100% 59%; /* #2c8fff */
    --primary-foreground: 0 0% 98.04%; /* #fafafa */

    --secondary: 5 100% 68%; /* #ff695a */
    --secondary-foreground: 0 0% 98.04%; /* #fafafa */

    --muted: 252 5.75% 82.94%; /* #d2d1d6 */
    --muted-foreground: 245.45 5.95% 63.73%; /* #9e9da8 */

    --accent: 0 0% 93.33%; /* #eee */
    --accent-foreground: 221.25 16.33% 19.22%; /* #292e39 */

    --destructive: 0 93.75% 62.35%; /* '#F94545' */
    --destructive-foreground: 0 0% 98.04%; /* #fafafa */

    --border: 230 24% 90%; /* #e0e2ec */
    --divider: 228 3.7% 73.53%; /* #b9babe */
    --input: 252 5.75% 82.94%; /* #d2d1d6 */
    --ring: 220 100% 92%; /* #d5e3ff */

    --header: 0 0% 93.33%; /* #eee */
    --header-foreground: 204 9% 11%; /* #1a1d1f */

    --sidebar: 0 0% 93.33%; /* #eee */
    --sidebar-foreground: 250 35.29% 13.33%; /* #1a162e */
    --sidebar-active: 208 100% 35%; /* #005eb3 */
    --sidebar-active-foreground: 208 100% 35%; /* #005eb3 */

    --section-shadow: 0px 20px 60px 10px rgb(237 237 246 / 0.2);

    --radius: 0.5rem;
  }

  .dark {
    --background: 221.25 16.33% 19.22%; /* #292e39 */
    --foreground: 0 0% 98.04%; /* #fafafa */

    --card: 222.35, 26.98%, 12.35%; /* #171c28 */
    --card-foreground: 0 0% 98.04%; /* #fafafa */

    --popover: 221.25 16.33% 19.22%; /* #292e39 */
    --popover-foreground: 228 3.7% 73.53%; /* #b9babe */
    --popover-shadow: 0px 40px 90px 20px rgb(0 0 0 / 0.4);

    --primary: 208 100% 35%; /* #005eb3 */
    --primary-foreground: 0 0% 98.04%; /* #fafafa */

    --secondary: 5 100% 68%; /* #ff695a */
    --secondary-foreground: 0 0% 98.04%; /* #fafafa */

    --muted: 252 5.75% 82.94%; /* #d2d1d6 */
    --muted-foreground: 245.45 5.95% 63.73%; /* #9e9da8 */

    --accent: 222.35, 26.98%, 12.35%; /* #171c28 */
    --accent-foreground: 0 0% 98.04%; /* #fafafa */

    --destructive: 0 93.75% 62.35%; /* '#f94545' */
    --destructive-foreground: 0 0% 98.04%; /* #fafafa */

    --border: 221.25 16.33% 19.22%; /* #292e39 */
    --divider: 228 3.7% 73.53%; /* #b9babe */
    --input: 252 5.75% 82.94%; /* #d2d1d6 */
    --ring: 220 100% 92%; /* #d5e3ff */

    --header: 222.35, 26.98%, 12.35%; /* #171c28 */
    --header-foreground: 0 0% 98.04%; /* #fafafa */

    --sidebar: 222.35, 26.98%, 12.35%; /* #171c28 */
    --sidebar-foreground: 0 0% 98.04%; /* #fafafa */
    --sidebar-active: 5 100% 68%; /* #ff695a */
    --sidebar-active-foreground: 5 100% 68%; /* #ff695a */

    --section-shadow: 0px 20px 60px 10px rgb(23 28 40 / 0.2);

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  a {
    @apply ring-offset-background focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }
}

@layer components {
  .svg-animate {
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    animation: dash 2s linear forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
